APP_NAME="Asistente Diagnostico POC API"
ENVIRONMENT="local"
API_PREFIX="/api/v1"
LOG_LEVEL="INFO"

DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/asistente_poc"
PGVECTOR_DIM=1024

GROQ_API_KEY=""
GROQ_MODEL="llama-3.1-8b-instant"

OPENROUTER_API_KEY=""
OPENROUTER_MODEL="meta-llama/llama-3.1-8b-instruct:free"

REQUEST_TIMEOUT_SECONDS=20

